@if (isOpen) {
  <div (click)="close()" class="overlay">
    <div (click)="$event.stopPropagation()" class="palette">
      <input
        #searchInput
        class="search"
        placeholder="Type a command..."
        [(ngModel)]="query"
        (input)="filter()"
        (keydown)="onKeydown($event)"
      />
      <div class="list">
        @for (command of visibleCommands; track $index; let i = $index) {
          <div class="item" [class.active]="i === activeIndex" (click)="onCommand(command)">
            {{ command.label }}
          </div>
        }
      </div>
    </div>
  </div>
}
